html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    width: 100%;
    background-color: aquamarine;
}
h1{
    margin: 0;
    margin-left: 40px;
}
#usuario{
    align-items: center;
    text-align: right;
    display: flex;
    margin-right: 40px;
}

h2{
    margin-right: 20px;
    display: flex;
    align-items: center;
}

h2::after{
    content: url(../imagenes/usuario.png);
}
