body{
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    height: 1200px;
}

#calendario {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
#formulario{
    position: absolute;
    width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: white;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;

}
form{
    margin: auto;
    display: block;
}
form div {
    display: flex;
    width: 100%;
}

#fondoFiltro {
    background-color: rgba(0, 0, 0, 0.5);
}

table{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 90%;
}

td{
    width: 100px;
    height: 180px;
    border: 2px solid rgb(176, 175, 175);
    font-size: 20px;
    margin: 0;
    padding: 4px;
    vertical-align: top;
}

#dia{
    height: 20px;
    text-align: center;
    font-weight: bold;
}

#fecha{
    margin-top: 30px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    width: 450px;
    justify-content: space-between;
}

h1{
    padding: 0;
    vertical-align: top;
}
button{
    font-size: 25px;
    background-color: transparent;
    border: none;
}
